/* Universal Styles below */

* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

.section-title {
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 24px;
}

.section-description {
    padding-bottom: 30px;
    color: #727272;
    font-size: 16px;
    font-weight: 400;
}

.btn-primary {
    width: 180px;
    height: 64px;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    background: #FF900E;
    border-radius: 8px;
    border: none;
}

/* Header and Navbar styles below */

header {
    background: rgba(255, 144, 14, 0.1);
}

nav {
    max-width: 1440px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 240px 100px 228px;
    margin: auto;
}

nav ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 35px;
}

a {
    text-decoration: none;
    color: #424242;
    font-size: 18px;
    font-weight: 500;
}

/* Banner Styles Below */

.banner {
    text-align: center;
}

.banner-section-content {
    width: 860px;
    margin: auto;
}

.banner-section-title {
    color: #131313;
    font-size: 64px;
    font-weight: 700;
    padding-bottom: 30px;
}

.banner-image {
    width: 1440px;
    height: 700px;
    margin-bottom: 45px;
    margin-top: 50px;
}

/* Main styles below */

main {
    margin: 0 auto;
    background-color: #FFFFFF;
    max-width: 1440px;
}

/* Features styles below */

.features {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 73px;
    margin: 85px;
}

.feature-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px;
}

.feature-content .section-title {
    color: #727272;
    font-size: 45px;
    font-weight: 600;
}

.feature-content strong {
    color: #131313;
    font-size: 45px;
    font-weight: 700;
}

.feature-content span {
    color: #FF900E;
    font-size: 45px;
    font-weight: 700;
}

/* Feature list styles */

.feature-list {
    display: flex;
    justify-content: space-between;
    gap: 54px;
    margin-top: 130px;
}

.feature-list-content {
    width: 586px;
}

.vertical-line {
    width: 5px;
    height: 106px;
    border-left: 6px solid #FF900E;
}

.feature-list-heading {
    display: flex;
    justify-content: center;
    gap: 21px;
    margin-bottom: 24px;
}

.feature-list-heading .section-title {
    font-size: 45px;
}

.section-subtitle {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 20px;
    color: #131313;
}

.feature-list .section-description {
    margin-bottom: 30px;
}

.feature-box {
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    padding: 30px 40px 0 30px;
    margin-bottom: 20px;
}

/* Experience styles below */

.experience-container {
    margin: auto;
    text-align: center;
    width: 342px;
    height: 200;
    background-color: #FF900E;
    border-radius: 8px;
    position: relative;
    top: -150px;
    right: -80px;
}

.experience-content {
    padding: 42px;
}

.experience-title {
    color: #FFFFFF;
    font-size: 65px;
    font-weight: 700;
}

.experience-description {
    font-size: 25px;
    font-weight: 500;
    color: #FFFFFF;
}

/* Facts style below */

.facts-section {
    margin-bottom: 180px;
}

.facts-section-content {
    width: 542px;
}

.facts-section-content .section-title {
    margin-bottom: 24px;
}

.facts {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}

.fact {
    padding: 45px 36px;
    text-align: center;
    border: 1px solid #FF900E;
    border-radius: 8px;
    transition: transform 1s;
}

.fact:hover {
    transform: scale(125%);
}

.fact-title {
    color: #424242;
    font-size: 45px;
    font-weight: 600;
    padding-bottom: 0;
}

.fact-description {
    color: #727272;
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 0px;
}

/* Sponsors styles below */

.sponsors-section-content {
    text-align: center;
    width: 542px;
    margin: auto;
    margin-bottom: 20px;
}

.sponsors-logo {
    display: flex;
    justify-content: space-between;
    margin-bottom: 130px;
}

/* Clients testimonial styles below */

.testimonial-section {
    margin-bottom: 130px;
}

.testimonial-section h2 p {
    text-align: center;
}

.testimonial-content {
    margin: auto;
    width: 542px;
    text-align: center;
}

.testimonial-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.testimonials {
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    width: 300px;
    height: 300px;
    background: #FFF4E7;
    margin-top: 76px;
    padding: 30px;
    transform: rotate(-6deg);
}

.testimonials:hover {
    transform: scale(125%) rotate(0deg);
    transition: transform 1s;
}

.testimony {
    font-size: 30px;
    font-weight: 600;
    color: #727272;
}

.client-name {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 400;
    color: #727272;
}

/* Footer Styles below */

.footer {
    margin: auto;
    text-align: center;
    width: 1440px;
    background: #FFF4E7;
    border-radius: 8px;
}

.footer .section-description {
    padding-top: 38px;
    font-size: 20px;
    margin-bottom: 216px;
}

/* Media query styles below */
/* This media query built upon "iPhoneXR" dimension*/

@media only screen and (max-width: 576px) {

    nav,
    .banner-section-content,
    .banner-image,
    main,
    .feature-list-content,
    .facts-section-content,
    .sponsors-section-content,
    .testimonial-content,
    .footer {
        width: 100%;
    }

    nav,
    nav ul,
    .testimonial-container,
    .sponsors-logo,
    .facts,
    .feature-list,
    .features {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .feature-list-image {
        width: 100%;
    }

    .navbar {
        padding: 50px 0 50px 0;
    }

    .banner-image {
        height: 50%;
    }

    .feature-images {
        grid-template-columns: repeat(1, 1fr);
    }

    .feature-content {
        text-align: center;
    }

    .feature-list-content > .section-description {
        margin-left: 24px;
    }

    .experience-container {
        text-align: center;
        top: 0;
        right: 0;
        margin: 50px 0px 50px 30px;
    }

    .facts-section-content {
        margin-left: 20px;
    }

    .sponsor {
        width: 50%;
        text-align: center;
        margin-bottom: 50px;
    }

}