/* -----------------------------------------------------------------
1. Make responsive for mobiles for bonus marks

2. "some facts section" e mouse nile kichu ekta korte ghotbe!

3. "10+ Year Experience" button/div/text etake upore tulte hobe!

4. Sponsor er niche ba kothao ekta meaningful section

5. Meaningful html+css and comments!

bootstrap for mobile screen 576px
----------------------------------------------------------------- */

/* Universal Styles below */

* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

.btn-primary {
    width: 180px;
    height: 64px;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    background: #FF900E;
    border-radius: 8px;
    border: none;
}

/* Header and Navbar styles below */

header {
    background: rgba(255, 144, 14, 0.1);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 240px 100px 228px;
}

.nav-title {
    color: #131313;
    font-size: 45px;
    font-weight: 700;
}

nav ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 35px;
}

a {
    text-decoration: none;
    color: #424242;
    font-size: 18px;
    font-weight: 500;
}

/* Banner Styles Below */
.banner {
    text-align: center;
}

.section-content {
    width: 860px;
    margin: 0px 530px 50px 530px;
}

.section-title {
    color: #131313;
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 30px;
}

.section-description {
    margin-bottom: 30px;
    color: #727272;
    font-size: 16px;
    font-weight: 400;
}

.banner-image {
    width: 1440px;
    height: 700px;
    margin-bottom: 45px;
}

/* Main styles below */

main {
    margin: 0 auto;
    background-color: #FFFFFF;
    max-width: 1440px;
}

/* Features styles below */

.features {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 73px;
    margin: 85px;
}

.feature-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px;
}

.feature-content .section-title {
    color: #727272;
    font-size: 45px;
    font-weight: 600;
}

.feature-content strong {
    color: #131313;
    font-size: 45px;
    font-weight: 700;
}

.feature-content span {
    color: #FF900E;
    font-size: 45px;
    font-weight: 700;
}